.SaveCss {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgb(22 78 99);
    padding-top: 10px;
}

.Total {
    font-size: 16px;
    color: #4d5057;
    font-weight: 600;
}

.PackageItem {
    animation-name: bankRouteAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease;
}

@keyframes bankRouteAnimation {
    0% {
        transform: scale(0.1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}