.StateCss {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ItemLayout {
    width: 94%;
    /* margin: 0px auto; */
}

.TableTitle {
    font-size: 14px;
    font-weight: 600;
    color: #4a5760;
}