.StateCss {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ItemLayout {
    width: 94%;
    /* margin: 0px auto; */
}

.TableTitle {
    font-size: 14px;
    color: #4d5057;
}