.BasketItem {
    display: flex;
    width: 96%;
    padding: 5px;
    background: #f6f9ff;
    align-items: center;
    margin: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.Zurag2 {
    width: 63px;
    padding: 5px;
}

.Descrip {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}

.ItemTitle {
    text-transform: uppercase;
}

.Price {
    display: flex;
    justify-content: space-between;
}