.Cont {
    display: flex;
    width: 100%;
}

.Cont2 {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    /* width: calc(15% + 250px); */
    width: calc(25% + 250px);
    justify-content: center;
}

.LoginTitle {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 0px 20px 0px;
}

.CaptchaCss {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Forget {
    float: right
}

.Login {
    position: relative;
    display: flex;
    flex-direction: column;
}

.OrRegister {
    position: absolute;
    /* right: 0px; */
    display: flex;
    top: 40px;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: #334155;
}

.RegisterHover {
    text-transform: lowercase;
    padding: 0px 2px;
    font-size: 15px;
    font-weight: 600;
    color: #1890ff;
}

.HdrTitle {
    font-size: 30px;
    text-align: center;
    color: #111827;
    font-weight: 900;
    margin-bottom: 15px;
}

.OrCss {
    display: flex;
    font-size: 15px;
    color: rgb(80 80 80);
    align-items: center;
    justify-content: center;
}

.RegisterHover:hover {
    color: red;
}

.FromCss {
    font-size: 15px;
    /* background: #f1f1f1; */
    box-shadow: 0px 0px 4px 1px #efefef;
    border-radius: 10px;
    padding: 40px 50px;
    font-weight: 600;
}

.IconCss {
    font-size: 16px;
    font-weight: 500;
    color: #334155;
}

.LoginForm {
    color: red;
}

.ForgetPasswordCss {
    display: inline;
}