.Cont{
    display: flex;
    width: 100%;
}
.Cont2{
    display: flex;
    flex-direction: column;
    margin: 65px auto;
    padding: 20px;
    border-radius: 10px;
    width: 627px;
    justify-content: center;
border: 1px solid #dedede;
    color: var(--gray1);
}
.Title{
    font-size: 16px;
    font-weight: 500;
    color: #334155;
}
.Login{
    display: flex;
    
}
.LoginTitle{
    display: flex;
    justify-content: center;
    text-transform: uppercase; 
    font-weight: 500;
    font-size: 18px;
    padding: 20px 0px 20px 0px;
}
@media only screen and (max-width: 1024px) {
    .Cont2{
        width: 80%;
    }
}