.Layout {
    background-color: #f1f1f1;
    display: flex;
    height: 100%;
    width: 100%;
}

.Layout2 {
    background-color: #f1f1f1;
    display: flex;
    height: 100%;
    width: 100%;
}

.Sidebar {
    position: relative;
    display: flex;
    width: 200px;
    height: 91vh;
    background: #fff;
    /* flex-direction: column;
    justify-content: space-between; */
}

.SidebarHide {
    position: relative;
    display: flex;
    width: 60px;
    height: 91vh;
    background: #fff;
    /* flex-direction: column;
    justify-content: space-between; */
}

.SettingToggleCss {
    animation-name: bankRouteAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    height: 150px;
}

.SettingTitle {
    margin-bottom: 3px;
    font-size: 16px;
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 10px;
}

@keyframes bankRouteAnimation {
    0% {
        transform: scale(0.1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.Content {
    background-color: #fff;
    width: calc(100% - 60px);
    border-left: 1px solid #ebebeb;
    margin: 0px auto;
    padding: 5px 10px;

}

.ContentPayment {
    background-color: #fff;
    width: calc(100% - 60px);
    border-left: 1px solid #ebebeb;
    margin: 5px auto;
    padding: 5px 10px;
}

.ContentCss {
    background: #fff;
    border-left: 1px solid #ebebeb;
    width: calc(100% - 200px);
    margin: 5px;
    padding: 5px 10px;
}

.ContentHome {
    background-color: #fff;
    width: 100%;
    border-left: 1px solid #ebebeb;
}

.ContentItem {
    background-color: #f9f9f9;
    width: 100%;
    /* width: 99%;
    margin: 10px;
    padding: 0px 20px; */
}

.Zurag {
    width: 34px;
    height: 34px;
}

.Links {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.MenuZ {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(3, 55, 69);
    /* padding-left: 10px; */
    padding: 7px 0px 7px 5px;
    margin: 3px 0px;
    font-weight: 500;
    border-radius: 8px;
}

.MenuZ:hover {
    background-color: rgb(244 63 94);
    color: #fff;
    cursor: pointer;
}

.MenuActive {
    width: 100%;
    background-color: rgb(244 63 94);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    /* padding-left: 10px; */
    padding: 7px 0px 7px 5px;
    margin: 3px 0px;
    font-weight: 500;
    border-radius: 8px;
    /* border-right: 3px solid #000000; */
}

.Text {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    text-transform: capitalize;
}

.ProfileZX {
    position: relative;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(50, 50, 50);
    justify-content: space-around;
    align-items: center;
}

.Line {
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
    margin-bottom: 10px;
}

.ImgZ {
    /* background-color: #f0f0f0; */
    color: #fff;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    justify-content: center;
    border-radius: 5px;

}

.UserDe {
    line-height: 15px;
    text-transform: capitalize;
    padding-left: 7px;
}

.BorderTop {
    position: absolute;
    bottom: 10px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.ToogleZX {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: -24px;
}

.BtnToogle {
    background-color: rgb(244 63 94);
    color: #fff;
    border: none;

}

.BtnToogle:hover {
    background-color: #fff;
    border: 1px solid rgb(244 63 94);
    color: rgb(244 63 94);
}

.UserTitle {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
}

.UserDescr {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    color: #668fa3;
}


/* 
============================================================================================================================= */
.Toggle {
    position: absolute;
    bottom: 0;
    width: 100%;

}

.Toggle button {
    width: 100%;
    transform: rotate(180deg);
    animation-duration: 5s
}

.Header {
    display: flex;
    padding-left: 50px;
    padding-right: 66px;
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 1px #d7d7d7;
}

.FlexPro {
    display: flex;
    color: #fff;
    align-items: center;
}

.HeaderItem {
    display: flex;
}

.Logo {
    width: 270px;
}

.Menu {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
}

.MenuItemStyle {
    display: flex;
    justify-content: center;
}

.Spinner {
    position: absolute;
    top: 40%;
    left: 40%;
}

.TitleCenter {
    display: flex;
    flex-direction: column;
}

.BasketHeader {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    font-weight: 600;
    justify-content: space-between;
}

.HeaderStyle {
    display: flex;
    align-items: center;
    /* background: green; */
    /* text-align: center; */
    margin: 0px auto;
    width: 93%;
    justify-content: center;
}

.PopoverStyle1 {
    position: relative;

}

.PopoverStyle2 {
    position: relative;
    border-bottom: 2px solid red;
    margin-bottom: -14px;
}

.BasketPopNone {
    display: none;
}

.BasketPop {
    position: absolute;
    background: red;
    font-size: 11px;
    color: #fff;
    top: -5px;
    border-radius: 10px;
    /* width: 15px; */
    padding: 0px 5px;
    display: flex;
    /* height: 15px; */
    z-index: 1;
    right: 5px;
    align-items: center;
    justify-content: center;
}

/* @keyframes basketPopAnimation {
    0%  {transform: scale(1); background: red;}
    50% {transform: scale(1.5); background: green;}
    100% {transform: scale(1); background: red;}
  } */
.LanguageStyle {
    display: flex;
    flex-direction: column;
}

.LanguageBtn {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    /* width: 140px; */
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.LanguageBtnActive {
    /* color: red; */
    display: flex;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: rgb(244 63 94);
}

.LanguageBtnActive:hover {
    color: #fff;
    background-color: rgb(244 63 94);
}

.LanguageBtn:hover {
    color: #fff;
    background-color: rgb(244 63 94);
}

.ActiveLang {
    color: #fff;
}

.ProXp {
    /* height: 150px; */
    width: 100%;
    /* border-bottom: 1px solid #ccc; */
    margin-bottom: 10px;
}

.AvatarC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Avatar {
    display: flex;
    margin: 10px auto;
    width: 80px;
    height: 80px;
    /* border: 1px solid #D2D3D5; */
    border-radius: 50%;
}

.Bonus {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;
    background: #f5f5f5;
}

.BonusChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4d5057;
}

.Icons {
    display: flex;
    font-size: 22px;
    align-items: center;
}

.Icons:hover {
    color: rgb(244 63 94);
}

.Active {
    border-bottom: 2px solid var(--red);
    margin-bottom: -14px;
}

.Active button {
    color: var(--red);
}

.ActiveBasket {
    display: flex;
    font-size: 22px;
    align-items: center;
    color: red;
}

.ProfileBackground {
    background: rgb(244 63 94);
    border-radius: 10px;
    margin-top: 2px;
    width: 100%;
    max-width: 150px;
    display: flex;
}


.ProfileLastname {
    font-size: 15px;
    color: #fff;
}

.ProfileCss {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 17px;
}

/* //border-b-2 border-red-500 -mb-3.5 */
.ProfileBackCss {
    border-bottom: 1px solid red;
    margin-bottom: -5.2px;
}

/* .text-base text-left font-medium pl-1.5 overflow-hidden whitespace-nowrap text-ellipsis w-24	max-w-xs */
.ProfileText {
    padding-left: 5px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    width: 80px;
    text-transform: capitalize;
}

.BasketPop3 {
    position: absolute;
    background: red;
    font-size: 11px;
    color: #fff;
    border-radius: 10px;
    width: 15px;
    display: flex;
    /* top: 6px; */
    height: 15px;
    right: 5px;
    /* left: 17px; */
    align-items: center;
    justify-content: center;
}

.MenuMobile {
    display: none;
}

.MenuCont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ActiveMenu button {
    color: var(--red);
}

.IconsMenu {
    display: flex;
    font-size: 18px;
    align-items: center;
    font-weight: 500;
}

.IconsMenu:hover {
    color: var(--red);
}

.ImageLogo {
    display: flex;
    align-items: center;
    /* width: 130px; */
    cursor: pointer;
}

.ImgLogo {
    width: 130px;
    height: 30px;
}

.MenuHoverIcon {
    background-color: red;
}

.MenuHoverIcon2 button:hover {
    background-color: #f1f1f1;
}

.Flag {
    height: 23px;
    display: block;
    object-fit: contain;
}

.BasketHdrCss {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.OrgIdText {
    display: flex;
    padding: 2px 10px;
    box-shadow: 1px 1px 1px 1px rgb(255 224 217);
    /* border: 1px solid rgb(145 167 99); */
    margin-left: 10px;
    width: 223px;
    border-radius: 10px;
    /* display: flex; */
    height: 21px;
    font-weight: 600;
    font-size: 11px;
    color: rgb(213 5 5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-between;
    align-items: center;

}

.OrgIdText2 {
    box-shadow: 1px 1px 1px 1px rgb(255 224 217);
    color: rgb(213 5 5);
    border-radius: 5px;
    padding: 0px 10px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.OrgIdText:hover {
    box-shadow: 1px 1px 1px 1px rgb(255, 185, 169);
    color: rgb(213 5 5);
}

.OrgIdText:hover .CancelOrgId {
    /* display: block; */
    /* color: rgb(101 163 13);
    box-shadow: 1px 1px 1px 1px rgb(22 163 74); */
    background: rgb(244 63 94);
    border-radius: 50%;
    font-size: 7px;
    width: 13px;
    height: 13px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OrgIdTextMobile {
    display: none;
}

.CancelOrgId {
    display: none;

}

.RoutCss {
    margin: 5px 0px;
}

.OrgTooltip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.MenuTitle {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

/* .CancelOrgId:hover {
    background-color: red;
} */
.OrgTextEllip {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1024px) {

    .PopoverStyle2 {
        position: relative;
        border-bottom: none;
        margin-bottom: 0px;
    }

    .MenuHoverIcon {
        display: flex;
        background: #f1f1f1;
        border: 1px solid #fff;
        border-radius: 18px;
        padding: 7px 2px;
        align-items: center;
        margin-right: 5px;
    }

    .BasketPop {
        z-index: 1;
        right: -3px;
        top: -11px;
    }

    .MenuHoverIconAdminNo {
        background: #fff;
    }

    .ImageLogo {
        display: flex;
        /* height: 31px; */
        /* background-color: #ccc; */
        align-items: center;
    }

    .HeaderItem {
        display: none;
    }

    .MenuMobile {
        display: flex;
        align-items: center;
    }

    .Header {
        padding-left: 5px;
        padding-right: 15px;
    }

    .ProfileBackground {
        padding: 5px;
        width: 100%;
        max-width: 110px;
    }

    .Logo {
        display: flex;
        align-items: center;
        width: 150px;
    }

    .ActiveMenu2 {
        background: #f1f1f1;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 7px 8px;
    }

    .ActiveMenu2 button {
        display: flex;
        background: #f1f1f1;
        border: none;
        color: var(--red);
        align-items: center;
        justify-content: center;
    }

    .ActiveMenu2 button:hover {
        background: #f1f1f1;
    }

    .MenuHoverIcon2 {
        background: #f1f1f1;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 7px 8px;
    }

    .MenuHoverIcon2 button {
        display: flex;
        background: #f1f1f1;
        border: none;
        color: var(--red);
        align-items: center;
        justify-content: center;
    }

    .MenuHoverIcon2 button:hover {
        background-color: #f1f1f1;

    }

    .Hate {
        position: absolute;

    }

    .OrgIdText {
        position: absolute;
        display: flex;
        padding: 2px 10px;
        box-shadow: 1px 1px 1px 1px rgb(255 224 217);
        width: 140px;
        border-radius: 10px;
        height: 21px;
        font-weight: 600;
        left: 177px;
        font-size: 11px;
        color: rgb(213 5 5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 590px) {
    .SidebarHide {
        position: absolute;
        display: flex;
        height: 52px;
        width: 100%;
        border-top: 1px solid #e1e1e1;
        bottom: 0px;
        background: rgb(255 255 255);
    }

    .MenuActive {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0px;
        padding: 0px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .Text {
        padding: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 47px;
        overflow: hidden;
        font-size: 12px;
        text-align: center;
        /* overflow: initial; */
        font-weight: 600;
        text-transform: capitalize;
    }

    .MenuZ {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0px;
        padding: 0px;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .Line {
        display: none;
    }

    .Content {
        height: 84vh;
        margin: 0px;
        width: 100%;
    }

    .ProfileZX {
        display: none;
    }

    .Links {
        display: flex;
        flex-direction: row;
        margin: 6px 15px;
        width: 100%;
        justify-content: space-around;
    }

    .BorderTop {
        display: none;
    }

    .Layout2 {
        background: #f1f1f1;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .ContentPayment {
        width: 100%;
    }

    .OrgIdText {
        display: block;
        width: 71px;
        left: 145px;
    }

    .OrgIdText:hover .CancelOrgId {
        position: fixed;
        color: #fff;
        margin-left: -26px;
        z-index: 1;

    }

    .Layout {
        height: 100%;
    }

    .OrgIdTextMobile {
        display: block;
        position: absolute;
        right: 0;
        padding: 8px 10px;
        font-size: 11px;
        font-weight: 600;
        background-color: #fff;
        box-shadow: 1px 1px 1px 1px rgb(255 224 217);
        color: rgb(213 5 5);
        z-index: 10;
        top: 63px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .Header {
        padding-right: 0px;
    }

    .MenuHoverIcon {
        padding: 3px 0px;
    }

    .ActiveBasket {
        font-size: 17px;
    }

    .Icons {
        font-size: 17px;
    }

    .IconsMenu {
        font-size: 17px;
    }

    .BasketPop {
        right: -7px;
        top: -14px;
        width: 16px;
        border-radius: 29% 29% 29% 0px;
    }

    .ImgLogo {
        width: 100px;
        height: 100%;
    }

    .LanguageBtn {
        width: 100%;
    }
}