.ContentCss{
    position: relative;
}
.Test1{
    width: 593px;
    display: flex;
    /* text-align: center; */
    align-content: center;
    align-items: center;
    /* text-align: center; */
    height: 50px;
    justify-content: center;
}
.Test2{

}