.HanshLayout {
    width: 300px;
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    font-size: 12px;
    animation-name: bankRouteAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease;
}





.HanshCss {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e9f5;
    padding: 6px;
    font-weight: 600;
    color: #4a4747;
}

.CodeCsss {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    width: 100px;
    text-align: left;
}

.HanshRate {
    display: flex
}

.Huwaalt {
    display: flex;
    margin-top: 25px;
    border-top: 1px solid #f43f5e;
}

.Fontcss {
    padding: 20px 15px;
    font-size: 13px;
    color: #4d5057;
    font-weight: 600;
    animation-name: bankRouteAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease;
}

.Fontcss2 {
    font-size: 12px;
    color: #7e7e7e;
}

.MntHuwi {
    display: flex;
    /* border-bottom: 1px solid #ccc; */
    background-color: rgb(255 241 242);
}

.MntHuwi2 {
    width: 130px;
    padding: 3px 4px;
    display: flex;
    font-size: 12px;
}

.HanshIcon {
    width: 100%;
    background: #ff0000d9;
    color: #fff;
    padding: 2px 0px;
    font-size: 13px;
}

.Tugrug {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    font-size: 14px;
    /* font-weight: 400; */
    margin-right: 9px;
    color: #fddddd;
    background: #ff0000;
}

@keyframes bankRouteAnimation {
    0% {
        transform: scale(0.1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.Dollarcss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 21px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 8px;
    color: #4d5057;
    background: #ebebeb;
    border-radius: 50%;
}