.Layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    width: 80%;
    margin: 0px auto;
    /* height: 80vh; */
}

.Cont1 {
    width: 30%;
    text-align: center;
    margin: 5px;
    padding: 20px 10px;
    background-color: #f9f9f9;
    height: 232px;
    line-height: 20px;
}

.Cont2 {
    width: 70%;
    margin: 5px;
    background-color: #f9f9f9;
    height: 46%;
}

.Text {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: #4d5052;
    align-items: center;
}

.descr1 {
    width: 140px;
    font-size: 14px;
    font-weight: 600;
}

.descr2 {
    font-size: 14px;
    color: #8b8b8b;
}

.Name {
    font-size: 15px;
    font-weight: 600;
    color: #4d5052;
}

.Job {
    font-size: 15px;
    color: #8b8b8b;
}

.Editcss {
    position: absolute;
    right: 20px;
}

.Modalcss {
    height: 600px;
    overflow: auto;
    padding: 0px 16px;
}