.Basket {
    width: 250px;
}

.BasketItem {
    display: flex;
    width: 96%;
    border: 1px dotted #ccc;
    padding: 5px;
    /* background: #f5f5f5; */
    align-items: center;
    margin: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.ItemTitle {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    width: 145px;
    font-weight: 600;
    color: #484141;
    text-overflow: ellipsis;
}

.Descrip {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.Zurag {
    display: flex;
    justify-content: center;
    width: 30px;
}

.Title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.Price {
    display: flex;
    font-weight: 600;
    color: #727272;
    justify-content: space-between;
}

.CloseBtn:hover {
    border-color: rgb(181, 96, 96);
    color: red;
}

.deleteBasket {
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

.deleteBasket:hover {
    color: red;
}

.Orderbtns {
    border-top: 1px solid #ccc;
    width: 100%;
}

.BtnOrder {
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
}

.BasketScroll {
    overflow-y: auto;
    max-height: 270px;
}

.BasketScroll::-webkit-scrollbar {
    width: 5px;
}

/* .BasketScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.BasketScroll::-webkit-scrollbar-thumb {
    background-color: #4D5057;
    border-radius: 10px;
}

.OrderIcon {
    display: flex;
    align-items: center;
}

.grpBackColor {
    display: flex;
    width: 96%;
    padding: 5px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    align-items: center;
    margin: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.PgrCss {
    width: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
}

.OrgIdCss {
    display: flex;
    position: relative;
    justify-content: space-between;
    background: red;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 2px 1px 1px #ffdada;
    font-size: 15px;
    font-weight: 500;
    z-index: 1;
}

.OrgOver {
    width: 90px;
    white-space: nowrap;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}