.BaraaNemeh {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.Baraa {
    width: 100%;
    background-color: #ccc;
}

.BaraaBorder {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.BaraaItems {
    display: flex;
}

.BaraaHuwaalt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

.BaraaDiv {
    background-color: #fff;
    width: 140px;
    height: 190px;
    box-sizing: border-box;
    margin: 8px;
    /* border: 2px solid #ccc; */
    box-shadow: 4px 2px 13px 2px #c1c4c8;
    /* box-shadow: 4px 2px 13px 2px #f3f3f3; */
    border-radius: 10px;
    transition: 0.3s;
}

.BaraaDiv:hover {
    transform: scale(1.05);
}

.BaraaS {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* border-bottom: 1px dotted #ccc; */
}

.Zurag {
    text-align: center;
    /* height: 140px; */
    width: 90px;
    padding: 7px;
    border-radius: 14px;
    /* width: 100%; */
}

.LastDiv {
    font-size: 13px;
    font-weight: 500;
    padding-left: 11px;
    padding-right: 11px;
    text-align: left;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--gray1);
}

.TitleBaraa {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
}

.TitleBaraa2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    color: #6f8391;
}

.Total {
    display: flex;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 14px;
    justify-content: flex-end;
}

.Title2 {
    display: flex;
    font-size: 29px;
    font-weight: 500;
    justify-content: center;
    color: var(--red);
    text-transform: uppercase;
}

.ItemTitle {
    display: flex;
    align-items: center;
}

.addItemStyle {
    position: absolute;
    background: red;
    font-size: 11px;
    color: #fff;
    border-radius: 10px;
    width: 15px;
    display: flex;
    /* top: 6px; */
    height: 15px;
    right: 5px;
    /* left: 17px; */
    align-items: center;
    justify-content: center;
    /* transition: 0.8s;
    animation-name: basketPopAnimation;
    animation-duration:0.5s;
    animation-timing-function: ease;   */
}

/* @keyframes basketPopAnimation {
  0%  {transform: scale(1); background: red;}
  50% {transform: scale(1.5); background: green;}
  100% {transform: scale(1); background: red;}
} */

.addItemStyle2 {
    position: absolute;
    background: red;
    font-size: 11px;
    color: #fff;
    border-radius: 10px;
    width: 15px;
    display: flex;
    /* top: 6px; */
    height: 15px;
    right: 5px;
    /* left: 17px; */
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    animation-name: basketPopAnimation3;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.CaptchaCss {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.OrgSelectCSs {
    text-align: left;
    font-weight: 600;
    margin-bottom: -10px;
}



@keyframes basketPopAnimation3 {
    0% {
        transform: scale(1);
        background: red;
    }

    50% {
        transform: scale(1.5);
        background: red;
    }

    100% {
        transform: scale(1);
        background: red;
    }
}

.SpinCss {
    display: flex;
    margin: 25px;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    padding: 10px;
}

.SearchCss {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.SearchInput {
    text-transform: uppercase;
    width: 500px;
}

.OrgIdCss {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-align: center;
}

.SpanCss {
    color: red;
}

.OrgError {
    margin-top: 30px;
    color: red;
    font-size: 18px;
    padding: 10px 0px;
    box-shadow: 1px 1px 5px 2px #e7e7e7;
    text-align: center;
    border-radius: 10px;
}

.Popcss {
    position: relative;
    /* background-color: #dbdbdb; */
    border-radius: 10px;
    /* background: white; */
    /* border: 1px solid #ccc; */
    box-shadow: 1px 1px 5px 2px #e7e7e7;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TitleCirc {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    height: 30px;
}

/* .BtnPop {
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
    margin-bottom: 10px;
} */

.TitleFlex {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.Colcss {
    background-color: #4d5057;
    padding: 10px;
    margin: 10px;
}

.RadioFrame {
    text-align: left;
    width: 450px;
    font-weight: 600;
    font-size: 15px;
}

.ErrorBorder {
    background: #a16161;
    border-radius: 0px;
    box-shadow: 0px 0px 4px 1px #d72e2e;
}

@media only screen and (max-width: 500px) {
    .RadioCss {
        width: 100%;
    }

    .CaptchaCss {
        margin-top: 10px;
    }

    .OrgIdCss {
        margin-top: 10px;
        font-size: 17px;
        font-weight: 500;
        color: rgb(51, 51, 51);
        width: 96%;
        margin: 0px auto;
        text-align: center;
    }

    .OrgSelectCSs {
        font-size: 15px;
    }

    .SearchCss {
        display: flex;
        justify-content: center;
        /* margin-top: 100px; */
        margin: 100px 15px;
        overflow: hidden;
    }

    .SearchInput {
        text-transform: uppercase;
        width: 350px;
    }
}