.orderItem {

  padding: 10px;
}

.TitleItem {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.ItemSize {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-flow: wrap;
  overflow-y: auto;
  /* justify-content: center; */
}

.ItemSize::-webkit-scrollbar {
  width: 5px;
}

/* .ItemSize::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.ItemSize::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}

.Items {
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 14px;
  box-shadow: 1px 2px 3px 2px #e5e5e5;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  /* width: 300px; */
  /* height: 198px; */
}

.Items2 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-size: 14px;
  box-shadow: 1px 2px 3px 2px #ccc;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  /* width: 300px; */
  /* height: 198px; */
}

/* .Items2 {
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 14px;
  box-shadow: 1px 2px 3px 2px #ccc;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  width: 266px; 
} */

.groupCss {
  height: 117px;
  transition-duration: 0.5s;
}

.groupCss2 {
  height: 246px;
  transition-duration: 0.5s;
}

.ItemZurag {
  width: 65px;
  border-radius: 5px;
  padding: 5px;
  height: 55px;
}

.grpBackColor {
  width: 65px;
  display: flex;
  /* background: #dbdbdb; */
  height: 55px;
  /* align-content: center; */
  justify-content: center;
  align-items: center;

}

.PgrCss {
  width: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
}

.BankItem {
  margin: 10px;
}

.ItemsInfo {
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.ItemsTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.DescripOver {
  /* text-left text-gray-500 -mt-2 capitalize */
  text-align: left;
  color: #6f8391;
  font-size: 13px;
  text-transform: lowercase;
  margin-top: -5px;
  margin-bottom: 5px;
  white-space: nowrap;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.TitleOver {
  white-space: nowrap;
  width: 170px;
  text-align: left;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 13px;
  color: #4e5458;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Descrip {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  color: #606060;
}

.Descrip3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.Content {
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.PaymentChoose {
  width: 100%;
}

.HuwiinMedeelel {
  width: 50%;
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}

.TulburNuhtsul {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 500;
}

.TulburTitle {
  font-size: 22px;
  padding-bottom: 10px;
  font-weight: 500;
}

.InputHuwaana {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.Inputs {
  width: 50%;

}

.Textdesc {
  padding: 5px;
  text-align: justify;
}

.ChoosePayment {
  padding: 10px;
}

.MongolBank {
  padding-top: 10px;
}

.MongolBankChild {
  padding-left: 10px;
}

.ForeingBankStyle {
  font-size: 18px;
  text-transform: uppercase;
}

.PayTitle {
  font-size: 18px;
  font-weight: 500;
}

.BankRouteStyle:hover {
  cursor: pointer;
  animation-name: bankRouteAnimation;
  transition: 1s;
  transform: scale(1.2);
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

/* @keyframes bankRouteAnimation {
    0%  {transform: scale(1); background: red;}
    50% {transform: scale(1.2); background: green;}
    100% {transform: scale(1); background: red;}
  }   */

.QtyBtn {
  display: flex;
}

.QtyName {
  padding-left: 5px;
  padding-right: 5px;
}

.TotalStyle {

  display: flex;
  margin: 5px;
  padding-bottom: 5px;
  background: #4d5057;
  font-size: 16px;
  border-radius: 5px;
  color: #f0f2f5;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 3px;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}

.TotalIcon {
  padding-right: 5px;
}




.ItemTotal {
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  width: calc(100% - 310px);
  /* background: #f0f2f5; */
  border-radius: 10px;
  box-shadow: 1px 3px 8px 1px #d5d5d5;
  justify-content: space-between;
  max-height: 450px;
  overflow-y: auto;
}


.ItemTotal::-webkit-scrollbar {
  width: 5px;
}

/* .ItemTotal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.ItemTotal::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}

.TotalPayment {
  display: flex;
  align-items: center;
  padding-bottom: 0px;
}

.InvoiceBorder {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 595px;
}

/* .InvoiceLogo{
    width: 120px;
    height: 30px;
  } */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 545px;
}

.InvoiceTable {
  display: flex;
  width: 100%;
}

.Contract1 {
  width: 240px;
  margin-right: 20px;
}

.InvoiceDate {
  display: flex;
  background-color: red;
  color: #fff;
}

.InvoiceLayout {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.9px solid rgb(242 119 119);
}

.Contract2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
}

.Sector {
  display: flex;
  flex-direction: column;
}

.PayState {
  background-color: #9e9e9e;
  color: #000;
  padding-left: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.SectorText {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.IconCaretRight {
  display: flex;
  align-items: center;
  color: red;
}

.ContractLayout {
  margin-bottom: 20px;
}

.ItemLayout {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
}

.ContractItemText {
  width: 70%;
  border-right: 1px solid #ccc;
}

.ContractItemTotalBorder {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.BankList {
  margin-left: 20px;
  margin-right: 20px;
}

.Bank2 {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.Bank2Css {
  display: flex;
  width: 185px;
  background-color: #f0f2f5;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
}

.Bank2Css:hover {
  background-color: #e1e9f5;
}

.ItemScroll {
  overflow-y: auto;
  height: 200px;
  background-color: #fff;
}

.ItemScroll::-webkit-scrollbar {
  width: 5px;
}

/* .ItemScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.ItemScroll::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}

.BasketItem {
  display: flex;
  width: 96%;
  padding: 5px;
  border: 1px solid #c2d8f3;
  align-items: center;
  margin: 5px;
  font-weight: 500;
  border-radius: 5px;
}

.titleH {
  font-size: 15px;
  text-transform: uppercase;
}

.ItemDesc {
  color: #818181;
  text-align: justify;
  font-weight: 600;
}

.Zurag2 {
  width: 63px;
  padding: 5px;
}

.Descrip2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.Title2 {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.ItemTitle2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.Price {
  display: flex;
  justify-content: space-between;
  margin-top: -3px;
  text-transform: capitalize;
}

.Price2 {
  display: flex;
  justify-content: space-between;
}


.ItemScroll {
  overflow-y: auto;
  height: 70px;
  background-color: #fff;
  transition-duration: 0.5s;
}

.ItemScrollTrans {
  overflow-y: auto;
  height: 200px;
  background-color: #fff;
  transition-duration: 0.5s;
}

.ItemScrollTrans::-webkit-scrollbar {
  width: 5px;
}

/* .ItemScrollTrans::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.ItemScrollTrans::-webkit-scrollbar-thumb {
  background-color: #4d5057;
  border-radius: 10px;
}

.ItemScroll::-webkit-scrollbar {
  width: 5px;
}

/* .ItemScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.ItemScroll::-webkit-scrollbar-thumb {
  background-color: #4d5057;
  border-radius: 10px;
}

.ItemGroupCss {
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 14px;
  box-shadow: 1px 2px 3px 2px #ccc;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  width: 357px;
  height: 200px;
  transition-duration: 0.5s;
}

.ItemGroupCss2 {
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 14px;
  box-shadow: 1px 2px 3px 2px #ccc;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  width: 357px;
  height: 330px;
  transition-duration: 0.5s;
}

.ItemsSolo {
  display: flex;
  height: 100%;
  align-items: center;
}

.ItemSoloGroup {
  display: flex;
  height: 100%;
  align-items: center;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.ItemGroupD {
  display: flex
}

.ItemZurag2 {
  width: 100px;
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px;
  height: 103px;
}

.HanshLayout {
  /* background-color: #f6f8fb; */
  width: 300px;
  margin: 10px;
  border-radius: 5px;

}

.HanshCss {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e9f5;
  padding: 10px;
  font-weight: 600;
  color: #4a4747;
}

.CodeCsss {
  border-left: 1px solid #ccc;
  padding-left: 10px;
  width: 100px;
  text-align: left;
}

.HanshRate {
  display: flex
}

.RateHdr {
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RateLine {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #403b3b;
}

.RateTitle {
  background: rgb(255, 255, 255);
  z-index: 1;
  padding: 0px 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #403b3b;
}

.Section2 {
  margin: 10px;
  width: 100%;
}

.PayMethod {
  animation-name: bankRouteAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.RateLayout {
  display: flex;
  align-items: center;
  margin: 5px;
}

.RateLayoutTitle {
  width: 200px;
  text-align: left;
  padding-left: 12px;
  color: #6f8391;
}

.DetailsScroll {
  overflow-y: auto;
  max-height: 400px;
}

.DetailsScroll::-webkit-scrollbar {
  width: 5px;
}

.DetailsScroll::-webkit-scrollbar-thumb {
  background-color: #403b3b;
  border-radius: 10px;
}

.ModalBackground {
  width: 110.1%;
  margin-top: -24px;
  padding: 15px 15px;
  font-weight: 600;
  /* height: 160%; */
  margin-bottom: -48px;
  margin-left: -24px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.TotalPriceCss {
  margin-top: 10px;
  background: rgb(77 80 87);
  color: #fff;
  padding: 4px 10px;
}

.PackageHdr {
  margin-top: 10px;
  background: rgb(77 80 87);
  color: #f7f7f7;
  padding: 7px 10px;
}

.RateL {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Spinner {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 70px;
  background: white;
  border-radius: 10px;
  height: 70px;
  box-shadow: 1px 1px 3px 2px #c6def3;
  justify-content: center;
  align-items: center;
}

.PayLayout {
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  box-shadow: 1px 1px 5px 3px #f1f6f9;
  /* padding: 21px; */
  display: flex;
  font-size: 18px;
  width: 150px;
  height: 150px;
  margin: 10px 20px;
  /* margin: 20px; */
  text-align: center;
  color: rgb(239 68 68);
  background-color: #fff;
  cursor: pointer;
  animation: style_scaledown__Ojs52 .2s linear;
  justify-content: center;
  align-items: center;
}

.SucessOrderCss {
  width: 500px;
  height: 500px;
}

.PayLayout:hover {
  animation: scale 0.2s linear;
  animation-fill-mode: forwards;
  box-shadow: 3px 4px 9px 4px #e6e6e6;
}



.Balance {
  font-weight: 500;
  color: red;
  background: white;
  font-size: 20px;
  padding-left: 20px;
  border-radius: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.CoinTitle {
  width: 70px;
  text-align: left;
  margin-left: 30px;
}

.ContentCss {
  width: 100%;
  margin: 20px auto;
  max-width: 1000px;
}

.Reminder {
  width: 300px;
  margin-left: 10px;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 8px 1px #d5d5d5;
  padding: 15px;
}

.OrderSummary {
  font-size: 19px;
  font-weight: 600;
  text-align: left;
}

.SubTotal {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 10px;
}

.SubTotalSuccess {
  display: flex;
  align-items: center;
  color: green;
}

.CheckOut2 {
  margin-right: 5px;
  color: #14bd40;
}

.TotalLenght {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

.TotalLPrice {
  font-size: 20px;
}

.ProceedTo {
  width: 100%;
  padding-top: 10px;
}

.CheckoutBtn {
  width: 100%;
  background: rgb(244, 63, 94);
  color: #fff;

}

.PayContent {
  display: flex;
  width: 100%;
  padding: 10px;
  animation-name: bankRouteAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.PayBanks {
  position: relative;
  width: 94%;
  margin: 0px auto;
  animation-name: bankRouteAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.BackCss {
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 1;
}

.CreditTitle {
  text-align: left;
  font-weight: 600;
  font-size: 17px;
  margin: 12px 0px 19px 20px;
}

.PayForm {

  width: 400px;
  padding-left: 20px;
}

.CoinFlex1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.CoinFlex2 {
  display: flex;
  align-items: center;
}

.PayConfirm {
  width: calc(100% - 300px);
  padding: 0px 20px;
}

.PlsName {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
}

.RadioCont {
  margin-top: 10px;
}

.OrgRadio {
  text-align: left;
  background: #ffffff;
  padding: 10px 5px;
  width: 100%;
  font-weight: 600;
  padding-left: 20px;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 1px 1px 2px 1px #ebebeb;
}

.BankGroup {
  animation-name: bankRouteAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.BankRadio {
  position: relative;
  text-align: left;
  line-height: 13px;
  background: #ffffff;
  padding: 10px 5px;
  width: 100%;
  font-weight: 600;
  padding-left: 20px;
  margin: 8px 0px;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 1px 1px 2px 1px #ebebeb;
}

.BankRadioInActive {
  position: relative;
  text-align: left;
  line-height: 13px;
  background: #c2f3bf;
  padding: 10px 5px;
  width: 100%;
  font-weight: 600;
  padding-left: 20px;
  margin: 8px 0px;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 1px 1px 2px 1px #ebebeb;
}

.CheckOut {
  position: absolute;
  /* background: red; */
  color: #14bd40;
  left: 15px;
  top: 14px;
  font-size: 25px;
  border-radius: 18px;
  background: #c2f3bf;
}

.PaySuccess {
  position: absolute;
  height: 53px;
  width: 100%;
  top: 0px;
  left: 0px;
  border-radius: 10px;

}

.BankTitle {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

.InfoDetails {
  margin-top: 15px;
  text-align: left;
}

.AlertDesk {
  display: flex;
  flex-direction: column;
  animation-name: bankRouteAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.Qpay {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  line-height: 20px;
  margin-top: 50px;
}

.QpaySize {
  height: 150px;
  background-color: red;
  width: 150px;
}

.QpayTitle {
  margin-top: 10px;
  font-size: 13px;
  color: #818181;
}

.QpayPrice {
  font-size: 23px;
  font-weight: 600;
}

.Shiljvvleg {
  display: flex;
  margin-top: 5px;
}

.ShilTitle {
  font-size: 15px;
  margin-right: 5px;
  font-weight: 600;
  color: #545454;
  width: 150px;
  text-align: left;
}

.ShilTitle2 {
  font-size: 15px;
  font-weight: 600;
  margin-right: 5px;
  width: 125px;
  text-align: left;
}

.PaymentCss {
  animation-name: bankRouteAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  flex-direction: column;
  align-items: center;
}

.ShiljvvlegCont {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  align-items: center;
  width: 500px;
  padding: 22px 0px;
  border-radius: 2px;
  margin: 14px auto;
  box-shadow: 0px 1px 2px 1px #e1e1e1;
}

.Copy {
  width: 80px;
}

.AlertText {
  /* width: 300px; */
}

.AlertInput {
  margin-left: 10px;
  font-size: 17px;
  margin-top: 10px;
  width: 68%;
}

.InputMail {
  margin-top: 10px;
}

.AlertName {
  margin-bottom: 10px;
}

.PayMethTitle {
  /* padding-top: 10px; */
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Methodchild {
  display: flex;

}

.ForgeinSideBar {
  display: flex;
}

.ForgeinSideContent1 {
  width: 250px;
}

.ForgeinSideContent2 {
  animation-name: bankRouteAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  width: calc(100% - 270px);
  border-radius: 10px;
  margin: 0px auto;
  box-shadow: 0px 0px 2px 1px #ebebeb;
}

.BankCss {
  display: flex;
  width: 185px;
  height: 85px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  margin: 0px 10px;
  font-weight: 600;
  border: 2px solid #4d5057;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  animation: scaledown .2s linear;
}

.BankCssActive {
  display: flex;
  width: 185px;
  height: 85px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  margin: 0px 10px;
  font-weight: 600;
  border: 2px solid rgb(244, 63, 94);
  flex-direction: column;
  align-items: center;
  box-shadow: 6px 4px 7px 1px rgb(243 107 131);
  align-content: center;
  justify-content: center;
  cursor: pointer;
  animation: scaledown .2s linear;
}

.BankCss:hover {
  animation: scale 0.2s linear;
  animation-fill-mode: forwards;
  box-shadow: 3px 4px 9px 4px #e6e6e6;
}

@keyframes scaledown {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.BankImg {
  display: flex;
  align-items: center;
}

.BankImgSize {
  margin-right: 5px;
}

.ItemDivide {
  display: flex;
  animation-name: bankRouteAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes bankRouteAnimation {
  0% {
    transform: scale(0.1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.flexAb {
  position: absolute;
}

.OrgConfirm {
  display: flex;
  justify-content: space-between;
  width: 190%;
  max-width: 510px;
  margin-left: 7px;
  color: #4d5057;
  align-items: center;
}

.OrgDesc {
  background: #fff1f2;
  font-size: 12px;
  /* font-family: 'Poppins'; */
  font-weight: 600;
  padding: 10px 25px;
  color: #f43f5e;
  width: 80%;
}

@media only screen and (max-width: 1024px) {
  .PayContent {
    flex-direction: column;
  }

  .Reminder {
    width: 100%;
    margin: 10px 0px;
  }

  .PayConfirm {
    width: 100%;
  }

  .Items {
    width: 100%;
  }

  .Items2 {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .OrgConfirm {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .AlertInput {
    width: 100%;
  }

  .ForgeinSideBar {
    display: flex;
    flex-direction: column;
  }

  .ForgeinSideContent1 {
    width: 100%;
  }

  .ForgeinSideContent2 {
    width: 100%;
  }

  .PayForm {
    width: 100%;
    /* padding-left: 20px; */
    padding: 0px 30px;
  }

  .Content {
    width: 100%;
    /* margin: auto; */
    padding: 0px 30px;
  }

  .ItemDivide {
    display: flex;
    flex-direction: column;
  }

  .ItemTotal {
    width: 100%;
    max-height: 300px;
  }

  .Reminder {
    width: 90%;
    /* margin-top: auto; */
    margin: 10px auto;
    /* height: 208px; */
  }

  .ItemSize {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-flow: wrap;
    border-top: 15px solid #fff;
    overflow-y: auto;
    border-bottom: 15px solid #fff;
  }

  .ContentCss {
    margin: 0px;
  }

  .PayContent {
    display: flex;
    flex-direction: column;
  }

  .PayConfirm {
    width: 100%;
  }

  .PlsName {
    font-size: 14px;
  }

  .OrgRadio {
    padding: 5px 5px;
  }

  .Methodchild {
    display: flex;
    flex-direction: column;
  }

  .BankCss {
    display: flex;
    width: 100%;
    height: 54px;
    font-size: 13px;
    margin: 5px 0px;
    flex-direction: column;
  }

  .BankCssActive {
    width: 100%;
    height: 64px;
    margin: 0px auto;
  }

  .ShiljvvlegCont {
    width: 100%;
  }

  .ShilTitle {
    font-size: 13px;
    margin-right: 5px;
    font-weight: 600;
    color: #545454;
    width: 115px;
    text-align: left;
  }

  .ShilTitle2 {
    font-size: 15px;
    width: 105px;
  }

  .Copy {
    font-size: 13px;
    width: 65px;
  }
}