.TableHdr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.GroupLayout {
    margin: 0px auto;
    width: 94%;
}

.TableTitle {
    font-size: 14px;
    font-weight: 600;
    color: #4a5760;
}

.ClearTable {
    position: absolute;
    top: 0;
    right: 0px;
}