.Title {
    font-size: 18px;
    text-transform: uppercase;
}

.DashFlex {
    display: flex;

}

.Box {
    display: flex;
    width: 350px;
    /* height: 150px; */
    box-shadow: 1px 1px 3px 1px #ebebeb;
    margin: 10px 40px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    animation: scaledown .2s linear;
}

.Box:hover {
    animation: scale 0.2s linear;
    animation-fill-mode: forwards;
}

.Col1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    /* height: 90px; */
    font-family: 'Roboto Condensed', sans-serif;
    padding: 15px;
}

.Col2 {
    display: flex;
    background-color: #f9f9f9;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #6b696a;
}

.DPrice {
    font-size: 22px;
    font-weight: 600;
    color: #6b696a;
    text-transform: uppercase;

}

.DIcon {
    font-size: 20px;
    color: #4d5052;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 20px; */
    /* padding: 5px 15px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #4d5052;
}

.DMethod {
    color: #b1b1b1;
    font-size: 15px;
    font-weight: 600;
}

.HdrDetails {
    display: flex;
    background: #4d5052;
    padding: 10px;

    color: #fff;
}

.HdrDetails2 {
    display: flex;
    /* background: #f9f9f9; */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /* margin-bottom: 10px; */
}

.Date {
    width: 90px;
}

.Currency {
    width: 73px;
}

.OrgName {
    width: 150px;
}

.Amount {
    width: 70px;
}

.Status {}

.Tips {
    font-size: 12px;
    color: rgb(239 68 68);
    padding: 30px;
    background: rgb(254 242 242);
    margin: 10px;
    box-shadow: 1px 1px 3px 1px #ebebeb;
}

.TitleFlex {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.TitleFlex2 {
    display: flex;
    margin-left: 10px;
}

.RedIcon {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    margin-right: 10px;

}

.CircleYel {
    border: 2px solid #4d5052;
    border-radius: 50%;
    margin-right: 10px;
    width: 10px;
    height: 10px;

}

/* animation: scale 0.2s linear;
animation-fill-mode: forwards; */
@keyframes scaledown {
    0% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}